body {
	margin: 0;
	background-color: #ddd
}
.nav{
	background-color: #fff;
}
.heart img{  
	width: 75px;
	margin-top: 10px;
	margin-left: 30px;
}
.nav a{
	position: absolute;
	font-size: 30px;
	margin-top: 30px;
	margin-left: 15px;
	text-decoration: none;
	color: #9F0303;
	font-family: Calibri, sabs;
	font-weight: 600
}
.btn button{
	float: right;
	margin-top: -60px;
	margin-right: 20px;
	border-radius: 5px;
	padding: 8px 25px;
	border: none;
	background-color: #9F0303;
	color: #fff;
	font-family: Calibri, sans;
	font-size: 20px;
	outline: none;
}
.btn button:hover{
	background-color: red
}